Telegram Expense Tracker with CFO Alerts and AI Analysis.json
{
  "name": "Telegram Expense Tracker with CFO Alerts and AI Analysis",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "47132e7f-68ed-49c3-8200-f919168e2919",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        528,
        -208
      ],
      "webhookId": "313bc708-c43e-4964-bff8-9f35536aa104",
      "credentials": {
        "telegramApi": {
          "id": "frQeBSyZ59aoc9LX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "76471c7d-2dd1-4c2c-93a8-1a72bf401d3b",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        -144
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "uaAoLA8lOEUJkLzD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}\n\n\n\n",
        "contextWindowLength": 10
      },
      "id": "1df69681-f074-4542-8a7f-fb6ddf8db42f",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        -144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract expense data from this message and return ONLY JSON.\n\nMessage: {{ $json.message.text }}\n\nFormat:\n{\n  \"vendor\": \"\",\n  \"amount\": \"\",\n  \"category\": \"\",\n  \"date\": \"\",\n  \"notes\": \"\",\n  \"confidence\": \"\"\n}\n\nRules:\n- category must be one of: food, travel, shopping, bills, other\n- amount should be number only\n- confidence between 0 and 1\n- do not return anything except JSON",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        -368
      ],
      "id": "00796ecf-9f40-49f5-9688-d8f5c836f6d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "let ai = items[0].json.output;\n\n// markdown हटाओ (```json ... ```)\nai = ai.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n// JSON parse karo\nconst data = JSON.parse(ai);\n\nreturn [{\n  json: {\n    loggedAt: new Date().toISOString(),\n    TelegramUserID: $node[\"Telegram Trigger\"].json.message.from.id,\n    TelegramUsername: $node[\"Telegram Trigger\"].json.message.from.username,\n    Vendor: data.vendor,\n    ExpenseDate: data.date || new Date().toISOString().split('T')[0],\n    Currency: \"INR\",\n    Total: parseFloat(data.amount),\n    Tax: \"\",\n    Category: data.category,\n    Notes: data.notes,\n    Confidence: data.confidence,\n    NeedsReview: data.confidence < 0.7,\n    MessageId: $node[\"Telegram Trigger\"].json.message.message_id,\n    Over500: data.amount > 500,\n    CFOEmailSentAt: \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -368
      ],
      "id": "b9362af1-c81d-409e-8268-5fa83b6152cf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IcT5f1MqB7QkhyrAGoKVvnD9PX50SGw8Bu7DwYLYRUI",
          "mode": "list",
          "cachedResultName": "Company_Expense_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IcT5f1MqB7QkhyrAGoKVvnD9PX50SGw8Bu7DwYLYRUI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IcT5f1MqB7QkhyrAGoKVvnD9PX50SGw8Bu7DwYLYRUI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "loggedAt": "={{ $json.loggedAt }}",
            "TelegramUserID": "={{ $json.TelegramUserID }}",
            "TelegramUsername ": "={{ $json.TelegramUsername }}",
            "Vendor": "={{ $json.Vendor }}",
            "ExpenseDate ": "={{ $json.ExpenseDate }}",
            "Currency": "={{ $json.Currency }}",
            "Total": "={{ $json.Total }}",
            "Tax": "={{ $json.Tax }}",
            "Category": "={{ $json.Category }}",
            "Notes": "={{ $json.Notes }}",
            "Confidence": "={{ $json.Confidence }}",
            "NeedsReview": "={{ $json.NeedsReview }}",
            "Messageld": "={{ $json.MessageId }}",
            "Over500": "={{ $json.Over500 }}",
            "CFOEmailSentAt": "editaura330@gmail.com",
            "TelegramUsername": "={{ $('Telegram Trigger').item.json.message.from.username }}",
            "ExpenseDate": "={{ $json.ExpenseDate }}",
            "MessageId": "={{ $json.MessageId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "loggedAt",
              "displayName": "loggedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TelegramUserID",
              "displayName": "TelegramUserID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TelegramUsername ",
              "displayName": "TelegramUsername ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiptField",
              "displayName": "ReceiptField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ExpenseDate ",
              "displayName": "ExpenseDate ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NeedsReview",
              "displayName": "NeedsReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Messageld",
              "displayName": "Messageld",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Over500",
              "displayName": "Over500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CFOEmailSentAt",
              "displayName": "CFOEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TelegramUsername",
              "displayName": "TelegramUsername",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExpenseDate",
              "displayName": "ExpenseDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MessageId",
              "displayName": "MessageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        -368
      ],
      "id": "88261113-c90b-4fe3-9ba2-867ba7ce3e35",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b0t50zW9zBkmV1ev",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0b7bf94-1d17-44b6-bc40-c0244f41bf0a",
              "leftValue": "={{ $json[\"Total\"] }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1744,
        -368
      ],
      "id": "88e679d6-9d9e-4e97-bfcd-cd7376843286",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "editaura330@gmail.com",
        "subject": "High Expense Alert ",
        "emailType": "text",
        "message": "=High Expense Alert !\n\nAmount : {{$json[\"Total\"]}} INR\nVendor : {{$json[\"Vendor\"]}}\nCategory : {{$json[\"Category\"]}}\nUser : {{ $json['TelegramUsername '] }}\n\nDate : {{ $json['ExpenseDate '] }}\n\nPlease Review this transaction .\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2000,
        -464
      ],
      "id": "c4311c37-3b27-499e-b4b0-9bee7c9d4e28",
      "name": "Send a message",
      "webhookId": "fd214873-0ff5-40cc-bf03-3c4aa5c67fc5",
      "credentials": {
        "gmailOAuth2": {
          "id": "sL526zH28nhgLTqo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
        "text": "=Expense Recorded Successfully !\n\n{{$json[\"Total\"]}} INR \n{{$json[\"Vendor\"]}} \n{{$json[\"Category\"]}}  \n\nSaved to system . ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        -224
      ],
      "id": "119bc6dc-e2af-4d59-874c-59b9526d3482",
      "name": "Send a text message",
      "webhookId": "95ddb661-cc3b-4c1c-85be-248367587694",
      "credentials": {
        "telegramApi": {
          "id": "frQeBSyZ59aoc9LX",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be87d395-46f9-4bfd-bc1c-5247c9fb5be3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b33f9b25dc7ed94e47ffd2c7211150d4b7036d6a3283128519765b51a7180220"
  },
  "id": "1U7Q2LSUxjJkeO3d",
  "tags": []
}